@charset "utf-8";

@import "_extension_import";

@import "_module/_commentList";

[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.off:not(#header) {
	display: none;
}

.loading {
	$isBase64: true;
	margin: es(30) 0;
	@include background-fit('common/loading.gif',false,'no-repeat center center');
	text-indent: -9999px;
	overflow: hidden;
	height: $imgHeight;
}


.service {
	margin: es(60) es(10) es(20);
	text-align: center;
	li {
		position: relative;
		width: 120px;
		overflow: hidden;
		@include inline-block();

		&.twitter {
			width: 100px;
		}
	}
}

.tags {
	$font-size: 12;
	$margin: 40;
	$color: #b8b2a6;

	max-width: es($base-width);

	li {
		margin: 0 es(4) !important;
		@include inline-block();
		@include fz($font-size);
		color: $color;

		&.active a {
			background: $baseColor;
			color: #fff;
		}
	}

	a {
		padding: es(5);

		color: $color;
		text-decoration: none;

		background: #fff;

		@include fz($font-size);
		@include box-shadow(1px 1px 1px rgba(0,0,0,0.04));
		@include box-sizing(border-box);
	}
}

dl.log {
	$font-size: 14;
	$padding: 20;

	max-width: es($base-width);
	border-top: 1px solid #dcc;
	border-bottom: 1px solid #fff;
	margin: es($padding) auto;
	color: $text-color;
	text-align: left;
	letter-spacing: es(1.3);
	line-height: 1.6;

	dt {
		padding: es($padding) 0 es($padding / 2) 0;
		border-top: 1px solid #fff;
		@include fz($font-size);

		span {
			color: #dcc !important;
		}

		&:target {
			color: $linkColor !important;
			@include animation-name(blink);
			@include animation-duration(5s);
			@include animation-timing-function(ease);
			@include animation-iteration-count(infinite);
			& + dd {
				@extend dt:target;

				p {
					color: $linkColor !important;
				}
			}

			&:nth-of-type(even) {
				@include animation-name(blink2);
			}
		}

		&:nth-of-type(even) {
				background: rgba(#fff,0.5);
		}
	}
	dd {
		padding-bottom: es($padding);
		border-bottom: 1px solid #dcc;
		@include fz($font-size);

		p {
			margin-bottom: es(16);
			color: #744 !important;
		}
		&:nth-of-type(even) {
			background: rgba(#fff,0.5);
		}
	}


	@media screen and (max-width: es($mediaQuery-middle,rem,$mediaQuery-baseSize)) {
		dt,
		dd {
			padding: es(10) es(10);
		}
	}
}

li.download {
	margin-bottom: es(10) !important;
	list-style-type: none !important;
	a {
		display: block;
		background: $baseColor;

		text-decoration: none;
		color: #fff;
		text-align: center;
		@include box-shadow(7px 7px 0 rgba(0,0,0,.05));

		&:hover {
			position: relative;
			@include opacity(0.6);
			@include transition(0.13s ease-in-out);
		}
	}

}

.pageNav {
	h2 {
		margin-top: 0;
	}

	li {
		@include fz(14,!important);
		line-height: 2 !important;
	}
}

.data {
	$font-size: 12;
	$margin: 40;
	$color: #b8b2a6;

	margin: es($margin * 1.5) 0 es($margin);

	li {
		margin: 0 es(4);
		@include inline-block();
		@include fz($font-size);
		color: $color;
	}

	a {
		padding: es(5);

		color: $color;
		text-decoration: none;

		background: #fff;

		@include fz($font-size);
		@include box-shadow(1px 1px 1px rgba(0,0,0,0.04));
		@include box-sizing(border-box);
	}
}

.commentTitle {
	$font-size: 16;
	$margin: 40;

	text-align: center;
	h2 {
		margin: es($margin) auto;
		border: 1px solid #f2efeb;
		display: inline-block;
		padding: es(16);
		min-width: 10%;
		color: #a29c8e;
		background: #fff;
		position: relative;

		font-weight: normal;
		text-align: center;
		font-size: es($font-size);

		letter-spacing: es($letter-spacing);
		@include box-shadow(1px 1px 1px rgba(0,0,0,0.04));


		@include triangle-set(20px 10px,#fff,bottom);
		@include triangle-set(22px 12px,#f2efeb,bottom,50%,before);
	}
}

.trackbacks {
	$font-size: 16;
	$margin: 40;

	p.url {
		margin: 0 auto es($margin);
		padding: es(16);
		border: 1px solid #f2efeb;
		background: #fff;
		max-width: es($base-width);
		color: $text-color;
		text-align: left;
		@include box-sizing(border-box);
		@include box-shadow(1px 1px 1px rgba(0,0,0,0.04));
		@media screen and (max-width: es($mediaQuery-middle,rem,$mediaQuery-baseSize)) {
		}
	}
}


.commentsForm {
	$font-size: 16;

	dl.form {
		margin: 0 auto;
		max-width: es($base-width);
		color: $text-color;

		text-align: left;

		@include box-sizing(border-box);

		dt {
			color: $linkColor;

			&:nth-of-type(1)  {
				margin-top: 0 !important;
				border-top: none;
			}

			&.comment span {
				display: none;
			}
		}

		dd {
			margin-bottom: es(10);
			input,
			textarea {
				width: 100%;
			}
			&.info input {
				width: inherit;
			}
		}

		@media screen and (max-width: es($mediaQuery-middle,rem,$mediaQuery-baseSize)) {
			margin-right: es(10);
			margin-left: es(10);
		}

		@media screen and (max-width: es($mediaQuery-small,rem,$mediaQuery-baseSize)) {
		}
	}

	p#comments-open-footer {
		$font-size: 16;
		margin: 0 auto;
		max-width: es($base-width);
		text-align: center;

		input {
			@include inline-block;
			width: 48%;

			&.post:first-child {
				margin-right: 0;
				width: 100%;
			}

			&:first-child {
				margin-right: 4%;
			}
		}

		@media screen and (max-width: es($mediaQuery-middle,rem,$mediaQuery-baseSize)) {
			margin-right: es(10);
			margin-left: es(10);
		}
	}
}
