@charset "utf-8";

@import "_extension_import.scss";

body {
	-webkit-text-size-adjust: none;
	background: $bgColor;
}

#header,
main,
#footer {
	margin: 0 auto;
	position: relative;
}

/*----------------------------------------
	header
----------------------------------------*/
$header-height: 70;
$header-top: 10;
#header {
	position: absolute;
	top: es($header-top);
	width: 100%;
	height: es($header-height);
	background: $baseColor;
	z-index: 10;
	@include transition-property(top);
	@include transition-duration(0.3s);
	@include transition-timing-function(ease-in-out);

	@include box-shadow(7px 7px 0 rgba(0,0,0,.05));

	&.off {
		top: es(-$header-height + $header-top);

		&:after {
			margin: 0 auto;
			position: absolute;
			left: 0;
			right: 0;
			content: '';
			display: block;
			@include background-fit('common/tab.gif');

			bottom: -$imgHeight + $header-top;
		}

		&:hover {
			top: es($header-top);

			&:after {
			}
		}
	}

	h1 {
		margin: auto;
		@include background-fit('common/cloverblue.png');
		a {
			display: block;
			width: $imgWidth;
			height: $imgHeight;
		}
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}

	nav {
		margin: 0 auto;
		max-width: es($base-width);
		height: es($header-height);

		position: relative;

		ul {
			margin: auto 0;

			height: 25px;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
		}
		li {
			overflow: hidden;
		}
		.about {
			a {
				display: block;
				width: 25px;
				height: 25px;

				color: $baseColor;
				text-decoration: none;
				background: #fff;
				@include box-shadow(1px 1px 1px rgba(0,0,0,0.04));
				@include border-radius(25px);
				&:before {
					content: '?';
					display: block;
					text-indent: 0;
				}
			}
		}
	}
}

/*----------------------------------------
	content
----------------------------------------*/
main {
	text-align: left;
	margin-top: es($header-height + $header-top + 20);

	@media screen and (max-width: es($mediaQuery-small,rem,$mediaQuery-baseSize)) {
		position: static;
	}

	&.off {
		display: block;
	}

	header {
		$font-size: 26;
		margin: 0 auto;
		max-width: es($base-width);

		text-align: center;

		h1 {
			color: $text-color;
			padding-bottom: es(8);
			word-wrap: break-word;
			letter-spacing: es($letter-spacing);

			position: relative;
			display: inline;

			@include fz($font-size);
			@include background-stripe($font-size / 1.1,transparent,5,$baseColor2,180deg);
		}
	}

	.content {
		$font-size: 16;
		$margin: 40;
		$letter-spacing: 2.4;

		$padding: 16;

		h2 {
			$font-size: 26;
			$margin: 25;

			padding: 0 es($padding);
			margin: es($margin * 4) auto es($margin);
			color: $text-color;
			max-width: es($base-width);
			letter-spacing: es($letter-spacing);

			@include fz($font-size);

			position: relative;

			&:before {
				content: '';
				display: block;
				@include background-fit('common/clover.png');
				position: absolute;
				left: -$imgWidth;
			}

			@media screen and (max-width: es($mediaQuery-small,rem,$mediaQuery-baseSize)) {
			}
		}

		h3 {
			$font-size: 22;

			border-top: 1px solid #f2efeb;
			margin: es(20) auto es(5);
			padding: es(20) es($padding) 0;
			color: $text-color;
			max-width: es($base-width);
			letter-spacing: es($letter-spacing);
			@include fz($font-size);
			@media screen and (max-width: es($mediaQuery-small,rem,$mediaQuery-baseSize)) {
			}
		}

		h2 + h3 {
			margin: 0 auto es(5);
			padding-top: 0;
			border-top: none;
		}

		h4 {
			$font-size: 18;

			margin: 0 auto es(5);
			padding: 0 es($padding);
			@include fz($font-size);

			color: $text-color;
			max-width: es($base-width);
			letter-spacing: es($letter-spacing);

			@media screen and (max-width: es($mediaQuery-small,rem,$mediaQuery-baseSize)) {
			}
		}

		h5 {
			$font-size: 16;

			margin: 0 auto;
			padding: 0 es($padding);
			color: $text-color;
			max-width: es($base-width);
			letter-spacing: es($letter-spacing);
			@include fz($font-size);
		}

		h6 {
			$font-size: 16;

			margin: 0 auto;
			padding: 0 es($padding);
			@include fz($font-size);

			color: $text-color;
			max-width: es($base-width);
			letter-spacing: es($letter-spacing);
		}

		img {
			margin: 0 auto;
			width: 100%;
			height: auto;
			display: block;
		}

		figure,
		p,
		li,
		dt,
		dd {
			margin: 0 auto;
			letter-spacing: es($letter-spacing);
			color: $text-color;
			@include fz($font-size);
			line-height: es($font-size * 2.1);

			max-width: es($base-width);

			dl,
			ul,
			ol,
			figure,
			p,
			li,
			dt,
			dd {
				margin: 0;
				padding: 0;
				list-style-position: inside;
			}
		}

		dl,
		ul,
		ol {
			margin: es($margin) auto;
			padding: 0 es($padding);
		}

		li {
		}

		ul li {
			list-style-type: disc;
		}

		figure,
		p {
			margin: 0 auto es($margin);
			padding: 0 es($padding);
		}

		p + pre {
			margin-top: es(-$margin);
		}

		figure {
			img {
				margin-bottom: es(10);
			}
		}

		figcaption {
			margin-top: es(10);
		}
	}
}

/*----------------------------------------
	footer
----------------------------------------*/
#footer {
	height: es($header-height);
	background: $baseColor2;
	text-align: center;

	.copyright {
		color: #fff;
		line-height: es($header-height);
		font-size: es(12);
	}
}
