@charset "utf-8";

@import "_extension_import.scss";

body {
	-webkit-text-size-adjust: none;
	background: $bgColor;
}

#header,
main,
#footer {
	margin: 0 auto;
	position: relative;
}

/*----------------------------------------
	header
----------------------------------------*/
$header-height: 70;
$header-margin-top: 10;
#header {
	margin-top: es($header-margin-top);
	height: es($header-height);
	background: $baseColor;

	@include box-shadow(8px 8px 0 rgba(0,0,0,.08));

	h1 {
		margin: auto;
		@include background-fit('common/cloverblue.png');
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

/*----------------------------------------
	content
----------------------------------------*/
main {
}

/*----------------------------------------
	footer
----------------------------------------*/
#footer {
	height: es($header-height);
	background: #d4eff4;
	text-align: center;

	.copyright {
		color: #fff;
		line-height: es($header-height);
		font-size: es(12);
	}
}
