@charset "utf-8";
@font-face {
	font-family: 'icomoon';
	src:url('../font/icomoon.eot?-tdpnu6');
	src:url('../font/icomoon.eot?#iefix-tdpnu6') format('embedded-opentype'),
		url('../font/icomoon.woff?-tdpnu6') format('woff'),
		url('../font/icomoon.ttf?-tdpnu6') format('truetype'),
		url('../font/icomoon.svg?-tdpnu6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}