
<footer id="footer">
	<p class="copyright"><small>Copyright &copy; clover.blue All Rights Reserved.</small></p>
</footer>


<script>
var qiita = [];
<% for(var i = 0;i < qiita.length;i++) { %>
qiita[<%= i %>] = {created_at: '<%= qiita[i].created_at %>', updated_at: '<%= qiita[i].updated_at %>'};
<% } %>
</script>

<script data-main="/js/main" src="/js/components/requirejs/require.js"></script>

</body>
</html>