<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charaset="utf-8">
	<title>Blog</title>
	<link rel="stylesheet" href="/css/import.css">
</head>
<body>

<header id="header">
	<h1><a href="/">clover.blue</a></h1>

	<nav>
		<ul>
			<li class="about"><a href="">サイトについて</a></li>
		</ul>
	</nav>
</header>