<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charaset="utf-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/css/import.css">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0,target-densitydpi=device-dpi">
</head>
<body>

<header id="header">
	<h1><a href="/">clover.blue</a></h1>

	<nav>
		<ul>
			<li class="weblog"><a href="/weblog">記事</a></li>
			<li class="illust"><a href="/illust">イラスト</a></li>
			<li class="photo"><a href="/photo">写真</a></li>
			<li class="about"><a href="/about">サイトについて</a></li>
		</ul>
	</nav>
</header>