@charset "UTF-8";
/*----------------------------------------
	commentList
----------------------------------------*/
dl.commentList {
  margin: 3.9rem 0 0 0;
  padding-bottom: 2.3rem;
}
dl.commentList dt {
  margin: 0 auto;
  padding-top: 2.3rem;
  margin-top: 2.3rem;
  border-top: 1px solid #dcc;
  max-width: 73.6rem;
  color: #500;
  line-height: 2.3rem;
  list-style-type: none;
  /width: 36.5em;
}
dl.commentList dd {
  margin: 0 auto;
  display: list-item;
  max-width: 73.6rem;
  color: #500;
  line-height: 2.3rem;
  list-style-type: disc;
  /width: 36.5em;
}
dl.commentList dd:last-child {
  padding-bottom: 2.3rem;
  border-bottom: 1px solid #dcc;
}
@media screen and (max-width: 47.25rem) {
  dl.commentList dt,
  dl.commentList dd {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.off:not(#header):not(main) {
  display: none;
}

.icos > *:not(.about) {
  font-family: 'icomoon';
}
.icos a {
  width: 2.9rem;
  height: 2.9rem;
  -moz-border-radius: 2.9rem;
  -webkit-border-radius: 2.9rem;
  border-radius: 2.9rem;
}
.icos a:before {
  display: block;
  line-height: 2.9rem;
  text-indent: 0;
  font-size: 18px;
  font-size: 1.8rem;
}

.home a:before {
  content: "";
}

.illust a:before {
  content: "";
}

.diary a:before {
  content: "";
}

.weblog a:before {
  content: "";
}

.design a:before {
  content: "";
}

.photo a:before {
  content: "";
}

.about a:before {
  content: "?";
}

.loading {
  margin: 3rem 0;
  background: url('../img/common/loading.gif?1417940831') no-repeat center center;
  -moz-background-size: 32px 32px;
  -o-background-size: 32px 32px;
  -webkit-background-size: 32px 32px;
  background-size: 32px 32px;
  text-indent: -9999px;
  overflow: hidden;
  height: 32px;
}

.center {
  text-align: center;
}

.thumbnails {
  padding: 0 !important;
  margin: 0 0 1rem !important;
  overflow: hidden;
  letter-spacing: -0.4em;
}
.thumbnails.big li a {
  height: 80px;
}
.thumbnails.big img {
  width: 170%;
  margin: auto;
  position: absolute;
  top: -30%;
  right: -30%;
  bottom: -30%;
  left: -30%;
}
.thumbnails li {
  width: 9.7%;
  margin: 0 0.3% 0.3% 0 !important;
  display: inline-block;
  list-style-type: none;
  vertical-align: top;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.thumbnails li:last-child {
  margin-right: 0;
}
.thumbnails li a {
  display: block;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.thumbnails li a img {
  width: 100%;
}
.thumbnails li a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
@media screen and (max-width: 40.625rem) {
  .thumbnails li {
    width: 24.5%;
    margin: 0 0.5% 0.5% 0 !important;
  }
}

.inlineList {
  max-width: 73.6rem;
  letter-spacing: -0.4em;
}
.inlineList li {
  width: 25%;
  display: inline-block;
  letter-spacing: normal;
}

.serviceLink {
  max-width: 73.6rem;
  letter-spacing: -0.4em;
}
.serviceLink li {
  width: 25%;
  margin-bottom: 1.6rem !important;
  display: inline-block;
  letter-spacing: normal;
}
.serviceLink li a {
  display: block;
  padding-left: 3.5rem;
}
.serviceLink li.twitter a {
  background: url('../img/sns/twitter.png?1419464532') no-repeat left center;
  -moz-background-size: 27px 22px;
  -o-background-size: 27px 22px;
  -webkit-background-size: 27px 22px;
  background-size: 27px 22px;
}
.serviceLink li.facebook a {
  background: url('../img/sns/facebook.png?1419464537') no-repeat left center;
  -moz-background-size: 23px 23px;
  -o-background-size: 23px 23px;
  -webkit-background-size: 23px 23px;
  background-size: 23px 23px;
}
.serviceLink li.mixi a {
  background: url('../img/sns/mixi.png?1419464532') no-repeat left center;
  -moz-background-size: 26px 24px;
  -o-background-size: 26px 24px;
  -webkit-background-size: 26px 24px;
  background-size: 26px 24px;
}
.serviceLink li.flickr a {
  background: url('../img/sns/flickr.png?1419464532') no-repeat left center;
  -moz-background-size: 21px 9px;
  -o-background-size: 21px 9px;
  -webkit-background-size: 21px 9px;
  background-size: 21px 9px;
}
.serviceLink li.github a {
  background: url('../img/sns/github.png?1419464532') no-repeat left center;
  -moz-background-size: 24px 23px;
  -o-background-size: 24px 23px;
  -webkit-background-size: 24px 23px;
  background-size: 24px 23px;
}
.serviceLink li.delicious a {
  background: url('../img/sns/delicious.png?1419464537') no-repeat left center;
  -moz-background-size: 24px 24px;
  -o-background-size: 24px 24px;
  -webkit-background-size: 24px 24px;
  background-size: 24px 24px;
}
.serviceLink li.booklog a {
  background: url('../img/sns/booklog.png?1419464532') no-repeat left center;
  -moz-background-size: 24px 18px;
  -o-background-size: 24px 18px;
  -webkit-background-size: 24px 18px;
  background-size: 24px 18px;
}
.serviceLink li.qiita a {
  background: url('../img/sns/qiita.png?1419647516') no-repeat left center;
  -moz-background-size: 23px 23px;
  -o-background-size: 23px 23px;
  -webkit-background-size: 23px 23px;
  background-size: 23px 23px;
}
.serviceLink li.pixiv a {
  background: url('../img/sns/pixiv.png?1419736558') no-repeat left center;
  -moz-background-size: 23px 23px;
  -o-background-size: 23px 23px;
  -webkit-background-size: 23px 23px;
  background-size: 23px 23px;
}
.serviceLink li.tumblr a {
  background: url('../img/sns/tumblr.png?1419736558') no-repeat left center;
  -moz-background-size: 23px 23px;
  -o-background-size: 23px 23px;
  -webkit-background-size: 23px 23px;
  background-size: 23px 23px;
}

.tags {
  max-width: 73.6rem;
}
.tags li {
  margin: 0 0.4rem !important;
  display: inline-block;
  font-size: 12px;
  font-size: 1.2rem;
  color: #b8b2a6;
  letter-spacing: 0 !important;
}
.tags li.active a {
  background: #94dcef;
  color: #fff;
}
.tags a {
  padding: 0.5rem;
  color: #b8b2a6;
  text-decoration: none;
  background: #fff;
  font-size: 12px;
  font-size: 1.2rem;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tags a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

dl.log {
  max-width: 73.6rem;
  border-top: 1px solid #dcc;
  border-bottom: 1px solid #fff;
  margin: 2rem auto;
  color: #500;
  text-align: left;
  letter-spacing: 0.13rem;
  line-height: 1.6;
}
dl.log dt {
  padding: 2rem 0 1rem 0;
  border-top: 1px solid #fff;
  font-size: 14px;
  font-size: 1.4rem;
}
dl.log dt span {
  color: #dcc !important;
}
dl.log dt:target, dl.log dt:target + dd {
  color: #39c !important;
  -moz-animation-name: blink;
  -webkit-animation-name: blink;
  animation-name: blink;
  -moz-animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
dl.log dt:target + dd p, dl.log dt:target + dd + dd p {
  color: #39c !important;
}
dl.log dt:target:nth-of-type(even), dl.log dt:target + dd:nth-of-type(even) {
  -moz-animation-name: blink2;
  -webkit-animation-name: blink2;
  animation-name: blink2;
}
dl.log dt:nth-of-type(even) {
  background: rgba(255, 255, 255, 0.5);
}
dl.log dd {
  padding-bottom: 2rem;
  border-bottom: 1px solid #dcc;
  font-size: 14px;
  font-size: 1.4rem;
}
dl.log dd p {
  margin-bottom: 1.6rem;
  color: #744 !important;
}
dl.log dd:nth-of-type(even) {
  background: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 47.25rem) {
  dl.log dt,
  dl.log dd {
    padding: 1rem 1rem;
  }
}

li.download {
  margin-bottom: 1rem !important;
  list-style-type: none !important;
}
li.download a {
  display: block;
  background: #94dcef;
  text-decoration: none;
  color: #fff;
  text-align: center;
  -moz-box-shadow: 7px 7px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 7px 7px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 7px 7px 0 rgba(0, 0, 0, 0.05);
}
li.download a:hover {
  position: relative;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -moz-transition: ease-in-out 0.13s;
  -o-transition: ease-in-out 0.13s;
  -webkit-transition: ease-in-out 0.13s;
  transition: ease-in-out 0.13s;
}

nav.pageNav {
  border-bottom: 1px solid #f2efeb;
  margin: 0 auto 4rem;
  max-width: 73.6rem;
  padding: 0 1.6rem;
}
nav.pageNav > * {
  padding: 0 !important;
}
nav.pageNav h2 {
  margin-top: 0;
}
nav.pageNav h2:before {
  display: none !important;
}
nav.pageNav li {
  font-size: 14px !important;
  font-size: 1.4rem !important;
  line-height: 2 !important;
}

.data {
  margin: 6rem 0 4rem;
}
.data li {
  margin: 0 0.4rem;
  display: inline-block;
  font-size: 12px;
  font-size: 1.2rem;
  color: #b8b2a6;
}
.data .revisions:before {
  content: '|';
  padding-right: 0.5rem;
}
.data a {
  padding: 0.5rem;
  color: #b8b2a6;
  text-decoration: none;
  background: #fff;
  font-size: 12px;
  font-size: 1.2rem;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.data a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

.commentTitle {
  text-align: center;
}
.commentTitle h2 {
  margin: 4rem auto;
  border: 1px solid #f2efeb;
  display: inline-block;
  padding: 1.6rem;
  min-width: 10%;
  color: #a29c8e;
  background: #fff;
  position: relative;
  font-weight: normal;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 0.24rem;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
}
.commentTitle h2:after {
  content: "";
  font-size: 0;
  border: 10px solid transparent;
  border-top-color: #fff;
  border-top-width: 10px;
  bottom: -20px;
  position: absolute;
  left: 50%;
  margin-left: -10px;
}
.commentTitle h2:before {
  content: "";
  font-size: 0;
  border: 11px solid transparent;
  border-top-color: #f2efeb;
  border-top-width: 12px;
  bottom: -23px;
  position: absolute;
  left: 50%;
  margin-left: -11px;
}

.trackbacks p.url {
  margin: 0 auto 4rem;
  padding: 1.6rem;
  border: 1px solid #f2efeb;
  background: #fff;
  max-width: 73.6rem;
  color: #500;
  text-align: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
}

.commentsForm dl.form {
  margin: 0 auto;
  max-width: 73.6rem;
  color: #500;
  text-align: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.commentsForm dl.form dt {
  color: #39c;
}
.commentsForm dl.form dt:nth-of-type(1) {
  margin-top: 0 !important;
  border-top: none;
}
.commentsForm dl.form dt.comment span {
  display: none;
}
.commentsForm dl.form dd {
  margin-bottom: 1rem;
}
.commentsForm dl.form dd input,
.commentsForm dl.form dd textarea {
  width: 100%;
}
.commentsForm dl.form dd.info input {
  width: inherit;
}
@media screen and (max-width: 47.25rem) {
  .commentsForm dl.form {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
.commentsForm p#comments-open-footer {
  margin: 0 auto;
  max-width: 73.6rem;
  text-align: center;
}
.commentsForm p#comments-open-footer input {
  display: inline-block;
  width: 48%;
}
.commentsForm p#comments-open-footer input.post:first-child {
  margin-right: 0;
  width: 100%;
}
.commentsForm p#comments-open-footer input:first-child {
  margin-right: 4%;
}
@media screen and (max-width: 47.25rem) {
  .commentsForm p#comments-open-footer {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.sns {
  background: #fffcf8;
  padding: 3rem 0;
  text-align: center;
  line-height: 1;
}
.sns img {
  width: auto;
  height: auto;
}
.sns li {
  margin-right: 0.5em !important;
  display: inline-block;
  line-height: 1 !important;
  vertical-align: top;
}
.sns li.twitter {
  width: 90px;
}
.sns li.google {
  width: 70px;
}
.sns li:last-child {
  margin-right: 0;
}
