@charset "utf-8";
body {
  -webkit-text-size-adjust: none;
  background: #fffcf8;
}

#header,
main,
#footer {
  margin: 0 auto;
  position: relative;
}

/*----------------------------------------
	header
----------------------------------------*/
#header {
  margin-top: 1rem;
  height: 7rem;
  background: #94dcef;
  -webkit-box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.08);
}
#header h1 {
  margin: auto;
  background: url('../img/common/cloverblue.png?1415727666') 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  width: 148px;
  height: 24px;
  -webkit-background-size: 148px 24px;
  -moz-background-size: 148px 24px;
  -o-background-size: 148px 24px;
  background-size: 148px 24px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*----------------------------------------
	content
----------------------------------------*/
/*----------------------------------------
	footer
----------------------------------------*/
#footer {
  height: 7rem;
  background: #d4eff4;
  text-align: center;
}
#footer .copyright {
  color: #fff;
  line-height: 7rem;
  font-size: 1.2rem;
}
