body {
  -webkit-text-size-adjust: none;
  background: #fffcf8;
}

#header,
main,
#footer {
  margin: 0 auto;
  position: relative;
}

/*----------------------------------------
	header
----------------------------------------*/
#header {
  position: absolute;
  top: 1rem;
  width: 100%;
  height: 7rem;
  background: #94dcef;
  z-index: 10;
  -moz-transition-property: top;
  -o-transition-property: top;
  -webkit-transition-property: top;
  transition-property: top;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-box-shadow: 7px 7px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 7px 7px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 7px 7px 0 rgba(0, 0, 0, 0.05);
}
#header.off {
  top: -6rem;
}
#header.off:after {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  content: '';
  display: block;
  background: url('../img/common/tab.gif?1417842781') 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  width: 120px;
  height: 37px;
  -moz-background-size: 120px 37px;
  -o-background-size: 120px 37px;
  -webkit-background-size: 120px 37px;
  background-size: 120px 37px;
  bottom: -27px;
}
#header.off:hover {
  top: 1rem;
}
#header h1 {
  margin: auto;
  background: url('../img/common/cloverblue.png?1417842781') 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  width: 148px;
  height: 24px;
  -moz-background-size: 148px 24px;
  -o-background-size: 148px 24px;
  -webkit-background-size: 148px 24px;
  background-size: 148px 24px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
#header h1 a {
  display: block;
  width: 148px;
  height: 24px;
}
#header nav {
  margin: 0 auto;
  max-width: 73.6rem;
  height: 7rem;
  position: relative;
}
#header nav ul {
  margin: auto 0;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
#header nav li {
  overflow: hidden;
}
#header nav .about a {
  display: block;
  width: 25px;
  height: 25px;
  color: #94dcef;
  text-decoration: none;
  background: #fff;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
#header nav .about a:before {
  content: '?';
  display: block;
  text-indent: 0;
}

/*----------------------------------------
	content
----------------------------------------*/
main {
  text-align: left;
  margin-top: 10rem;
}
@media screen and (max-width: 40.625rem) {
  main {
    position: static;
  }
}
main.off {
  display: block;
}
main header {
  margin: 0 auto;
  max-width: 73.6rem;
  text-align: center;
}
main header h1 {
  color: #500;
  padding-bottom: 0.8rem;
  word-wrap: break-word;
  letter-spacing: 0.24rem;
  position: relative;
  display: inline;
  font-size: 26px;
  font-size: 2.6rem;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI0MS4yNjk4NCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI0MS4yNjk4NCUiIHN0b3AtY29sb3I9IiNkNGVmZjQiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q0ZWZmNCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjxzdG9wIG9mZnNldD0iOTEuMjY5ODQlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjxzdG9wIG9mZnNldD0iOTEuMjY5ODQlIiBzdG9wLWNvbG9yPSIjZDRlZmY0Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDRlZmY0Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g') ;
  background-size: 100%;
  background-image: -moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 41.26984%, #d4eff4 41.26984%, #d4eff4 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 91.26984%, #d4eff4 91.26984%, #d4eff4) ;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 41.26984%, #d4eff4 41.26984%, #d4eff4 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 91.26984%, #d4eff4 91.26984%, #d4eff4) ;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.26984%, #d4eff4 41.26984%, #d4eff4 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 91.26984%, #d4eff4 91.26984%, #d4eff4) ;
  background-size: 57.27273px 57.27273px ;
}
main .content {
  margin-top: 4rem;
}
main .content > *:first-child {
  margin-top: 0;
}
main .content h2 {
  padding: 0 1.6rem;
  margin: 10rem auto 2.5rem;
  color: #500;
  max-width: 73.6rem;
  letter-spacing: 0.24rem;
  font-size: 26px;
  font-size: 2.6rem;
  position: relative;
}
main .content h2:before {
  content: '';
  display: block;
  background: url('../img/common/clover.png?1417842781') 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  width: 51px;
  height: 44px;
  -moz-background-size: 51px 44px;
  -o-background-size: 51px 44px;
  -webkit-background-size: 51px 44px;
  background-size: 51px 44px;
  position: absolute;
  left: -51px;
}
main .content h3 {
  border-top: 1px solid #f2efeb;
  margin: 2rem auto 0.5rem;
  padding: 2rem 1.6rem 0;
  color: #500;
  max-width: 73.6rem;
  letter-spacing: 0.24rem;
  font-size: 22px;
  font-size: 2.2rem;
}
main .content h2 + h3 {
  margin: 0 auto 0.5rem;
  padding-top: 0;
  border-top: none;
}
main .content h4 {
  margin: 0 auto 0.5rem;
  padding: 0 1.6rem;
  font-size: 18px;
  font-size: 1.8rem;
  color: #500;
  max-width: 73.6rem;
  letter-spacing: 0.24rem;
}
main .content h5 {
  margin: 0 auto;
  padding: 0 1.6rem;
  color: #500;
  max-width: 73.6rem;
  letter-spacing: 0.24rem;
  font-size: 16px;
  font-size: 1.6rem;
}
main .content h6 {
  margin: 0 auto;
  padding: 0 1.6rem;
  font-size: 16px;
  font-size: 1.6rem;
  color: #500;
  max-width: 73.6rem;
  letter-spacing: 0.24rem;
}
main .content img {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: block;
}
main .content figure,
main .content p,
main .content li,
main .content dt,
main .content dd {
  margin: 0 auto;
  letter-spacing: 0.24rem;
  color: #500;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 3.36rem;
  max-width: 73.6rem;
}
main .content figure dl,
main .content figure ul,
main .content figure ol,
main .content figure figure,
main .content figure p,
main .content figure li,
main .content figure dt,
main .content figure dd,
main .content p dl,
main .content p ul,
main .content p ol,
main .content p figure,
main .content p p,
main .content p li,
main .content p dt,
main .content p dd,
main .content li dl,
main .content li ul,
main .content li ol,
main .content li figure,
main .content li p,
main .content li li,
main .content li dt,
main .content li dd,
main .content dt dl,
main .content dt ul,
main .content dt ol,
main .content dt figure,
main .content dt p,
main .content dt li,
main .content dt dt,
main .content dt dd,
main .content dd dl,
main .content dd ul,
main .content dd ol,
main .content dd figure,
main .content dd p,
main .content dd li,
main .content dd dt,
main .content dd dd {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
main .content dl,
main .content ul,
main .content ol {
  margin: 2.5rem auto;
  padding: 0 1.6rem;
}
main .content ul li {
  list-style-type: disc;
}
main .content figure,
main .content p {
  margin: 0 auto 2.5rem;
  padding: 0 1.6rem;
}
main .content p + pre {
  margin-top: -2.5rem;
}
main .content figure img {
  margin-bottom: 1rem;
}
main .content pre {
  line-height: 1.4;
}
main .content figcaption {
  margin-top: 1rem;
}

/*----------------------------------------
	footer
----------------------------------------*/
#footer {
  height: 7rem;
  background: #d4eff4;
  text-align: center;
}
#footer .copyright {
  color: #fff;
  line-height: 7rem;
  font-size: 1.2rem;
}
