<article ng-class="{loading: showLoading}">
	<header>
		<h1>{{item.title}}</h1>
		<ul class="data">
			<li class="date"><time datetime="{{item.created_at | dateParse | date:'yyyy-MM-ddThh:mm:ssZ'}}" pubdate>{{item.created_at | dateParse | date:'yyyy-MM-dd HH:mm:ss'}}</time></li>
			<li class="tag" ng-repeat="tag in item.tags">
				<a href="/tags/{{tag.name}}">{{tag.name}}</a>
			</li>
		</ul>
	</header>

	<div class="content">
		<!-- <nav class="pageNav" id="pageNav">
			<h2><a href="#pageNav">目次</a></h2>
			<ul ng-bind-html="item.body | tree">
			</ul>
		</nav> -->

		<div ng-bind-html="item.body">
		</div>
		<p ng-cloak ng-show="showErrorMessage" class="center"><small>apiのメンテナンス、もしくは読み込み環境の影響で読み込みに失敗しました。<br>時間をおいてお試しください。</small></p>
	</div>
</article>