<article>
	<header>
		<h1>{{tag}}</h1>
	</header>

	<div class="content" ng-class="{loading: showLoading}">
		<ul class="tags">
			<li ng-repeat="tag in tags" ng-class="{active:currentPage==tag}" ng-cloak>
				<a ng-href="/tags/{{tag}}">{{tag}}</a>
			</li>
		</ul>

		<ul>
			<li ng-repeat="item in items" ng-cloak>
				<a ng-href="/items/{{item.uuid}}">{{item.title}}</a>
			</li>
		</ul>
	</div>
</article>