<% include ../header %>

<main role="main" ng-controller="cloverController">
	<article>
		<header>
			<h1><%= title %></h1>
		</header>

		<div class="content">
		</div>
	</article>
</main>

<% include ../footer %>