<% include ../header %>

<main role="main" ng-controller="cloverController">
	<article>
		<header>
			<h1><%= title %></h1>
		</header>

		<div class="content">
		<ul>
		  <li ng-repeat="item in items">
		    {{item.id}} - {{item.title}}
		  </li>
		</ul>
		</div>
	</article>
</main>

<% include ../footer %>