<% include ../header %>

<main role="main">
	<article>
		<header>
			<h1>Posts</h1>
		</header>

		<div class="content">
		<ul>
		</ul>

		<p><a href="/posts/new">Add new</a></p>
		</div>
	</article>
</main>

<% include ../footer %>