<article>
	<header>
		<h1>サイトについて</h1>
	</header>

	<div class="content">
		<h2>使用しているツール</h2>
		<ul>
			<li>Photoshop</li>
			<li>Sublime Text</li>
			<li>ImageAlpha</li>
			<li>ImageOptim</li>
			<li>JPEGmini</li>
		</ul>

		<h2>サイトの構成</h2>
		<ul>
			<li>HTML5</li>
			<li>CSS3</li>
			<li>Sass,Compass</li>
			<li>Node.js, Javascript, AngularJS, RequireJS, Typescript</li>
			<li>MongoDB</li>
		</ul>

		<p>詳しくはGithubにあげてます。(<a href="https://github.com/kamem/clover.blue" target="_blank">clover.blue</a>)</p>

		<h2>サイトの中の人ってどんな人？</h2>
		<h3>kamem: かめ</h3>
		<p>フリーでWebを制作する仕事をしています。学校で講師をしています。HTML,CSS,Javascriptを使ったフロントエンドな仕事からデザインまでを担当。主にプロジェクトに参加してサイトを作っています。自分でひらめいたことを作ったりするのが好きです。読書、絵、カラオケ、カメラ、お酒とか好きです。

		<ul class="snsLink">
			<li class="twitter"><a href="http://twitter.com/kamem" target="_blank">kamem</a></li>
			<li class="facebook"><a href="http://www.facebook.com/kamem0" target="_blank">kamem0</a></li>
			<li class="mixi"><a href="http://mixi.jp/show_profile.pl?id=3573046" target="_blank">3573046</a></li>
			<li class="flickr"><a href="http://www.flickr.com/photos/37978321@N03/" target="_blank">develo0</a></li>
			<li class="github"><a href="https://github.com/kamem" target="_blank">kamem</a></li>
			<!-- <li class="qiita"><a href="https://qiita.com/kamem" target="_blank">kamem</a></li> -->
			<li class="delicious"><a href="https://delicious.com/iza0" target="_blank">iza0</a></li>
			<li class="booklog"><a href="booklog.jp/users/kamem" target="_blank">kamem</a></li>
		</ul>
	</div>
</article>