<article>
	<header>
		<h1>clover.blue</h1>
	</header>

	<div class="content" ng-class="{loading: showLoading}">
		<ul>
			<li ng-repeat="item in items" ng-cloak>
				<a ng-href="/items/{{item.uuid}}">{{item.title}}</a>
			</li>
		</ul>
	</div>
</article>